{% extends "base.html" %}

{% block navigation %}
{{ block.super }}
{% if user.is_authenticated %}

{% if message %}
<p> {{ message }}  </p>
{% endif %}

{% if form %}
<p>Want to be</p>
<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
  <input type="hidden" name="next" value="{% url 'index' %}" />
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<h1>Welcome to Simuser</h1>
{% endblock %}
