{% extends "base.html" %}

{% block title %}Log in{% endblock %}
{% block content %}
{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% for dict in form_errors %}
{{ dict }}
{% endfor %}
{% endif %}

<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <label for="username">User name:</label>
  <input type="text" name="username" value="" id="username">
  <label for="password">Password:</label>
  <input type="password" name="password" value="" id="password">
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{% url 'index' %}" />
<form action='.' method='post'>
{% endblock %}
