{% extends "base.html" %}

{% block content %}
<p>Your profile:</p>
<form action="{% url 'updateprofile' pk=profile.pk %}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Update" />
  <input type="hidden" name="next" value="{% url 'index' %}" />
</form>
{% endblock %}
