{% extends "base.html" %}

{% block navigation %}
{{ block.super }}
{% if user.is_authenticated %}

{% if message %}
<p> {{ message }}  </p>
{% endif %}

{% if mutuals_count >= 0 %}
<p>You have 
  {% if mutuals_count > 0 %}<a href="{% url 'commonfriends' %}">{{ mutuals_count }}</a>
  {% else %}
  {{ mutuals_count }}
  {% endif %}
 mutual friends.</p>
{% endif %}

{% if form %}
<p>Want to be</p>
<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
  <input type="hidden" name="next" value="{% url 'index' %}" />
</form>
{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ profile }}</h1>
<table>
    <tr><td> Date of birth:</td><td>{{ profile.birthday|date:"Y-m-d"}}</td></tr>
    <tr><td>Biography:</td><td>{{ profile.bio }}</td></tr>
</table>
{% endblock %}
