{% extends "base.html" %}

{% block content %}
<p>Enter your credential information here:</p>
<form action="{% url 'registration' %}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Register" />
  <input type="hidden" name="next" value="{% url 'login' %}" />
</form>
{% endblock %}
