<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
      <title>{% block title %}Simuser{% endblock %}</title>
    </head>

    <body>
        <div id="header">
            <h1>Simuser Demo</h1>
        </div>
        <div id="sidebar">
        <div id="authentication">
            {% if user.is_authenticated %}
                <p>Logged in as <a href="{{ user.profile.get_absolute_url }}">{{ user.username }}</a>.
                   <a href="{% url 'logout' %}">Logout</a>.</p>
            {% else %}
                <p>Please <a href="{% url 'registration' %}">register</a> and <a href="{% url 'login' %}">log in</a>.</p>
            {% endif %}
        </div>
        <div id="navigation">
            {% block navigation %}
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'userslist' %}">Users</a></li>
                {% if user.is_authenticated %}
		<li><a href="{% url 'updateprofile' pk=user.profile.pk %}">Update my profile</a></li>
                {% endif %}
            </ul>
            {% endblock %}
        </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
